__pycache__/
*.py[cod]
*$py.class
*.egg-info
.pytest_cache
.ipynb_checkpoints
*_ckpt

thumbs.db
.DS_Store
.idea

Test1/
Test2/


*.parquet
*.tar

test_dataset.py

lora_web.py

check_web_data_format.py

mtf2025_web_images/

mtf2025_web_images_en/

*_ckpt/

embeddings

